services:
  postgres:
    image: "postgres:17"
    container_name: sbgfit-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=sbgfit
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "sbgfit"]
      interval: 1s
      timeout: 3s
      retries: 30
